@media(min-width:750px){


.head {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1f2937;
    color:#f9faf8;
    
}
.header {
    font-size: 24px;
    order: start;
}
.upper_section {
    flex: 1 1 100%;
    flex-direction: row;
    align-content: space-between;
    background-color:#1f2937;
    color:#f9faf8;
}
.Hero {
    flex-direction: column;
    font-size: 48px;
    font-weight: bold;
}
.image-container {
    display: flexbox;
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    object-fit: scale-down;
    flex-direction: row;
    align-items: flex-end;
    

}
.middle section{
    display:flex;
    background-color: #f9faf8;
    flex-wrap: wrap;
}

.title2 {
    font-size: 36px;
    font-weight: bold;
    color:rgb(17, 17, 17);
    display: flex;
    flex-direction:column;
    justify-content: first baseline;
}
.middleboxes {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    object-position: center;
}
.quotesection {
    background-color: #E5E7Eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight:lighter;
    font-style:italic;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}
}