@media(min-width:750px){
.body {
    width: 100vw;
    height: 100vh;
    
    font-family: 'Roboto', sans-serif;

}

.header,
.footer {
    padding: 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%;
    justify-content: space-between;
    background-color: #1f2937;
    color:#f9faf8;
    
}
.h1 {
    margin-left: 200px;
    font-size: 24px;
    font-weight: 600;
    order: start;
}
.link1{
    transition: 0.5s;
}
.link1:hover{
    font-size: 20px;
}
.link2{
    transition: 0.5s;
}
.link2:hover{
    font-size: 20px;
}
.link3 {
    margin-right: 100px;
    transition: 0.5s;
}
.link3:hover{
    
    font-size: 20px;
}
.upper_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color:#1f2937;
    color:#f9faf8;
    box-shadow: 0px 3px 25px 0 rgb(54, 52, 52), 0px 4px 15px grey;
}
.Hero {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin-left: 150px;
    padding-left: 50px;
    padding-right: 25px;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-shadow: grey, 1 1 0;
}
.sentence {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    margin-left: 200px;
    width: 250px;
    height: 142px;
    padding-right: 25px;
    font-size: 18px;


}
.b1 {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    flex-direction: row;
    justify-content: center;
    
    background-color: #3882f6;
    color:#f9faf8;
    font-size: 24px;
    font-weight: 600;
    border-color:#f9faf8;
    Margin-left: 275px;
    transition: 0.5s;
    
}
.b1:hover{
    width: 150px;
    height: 55px;
    box-shadow: black, 1 1 0;
}
.image-container {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    margin-right: 35%;
    object-fit: scale-down;
    flex-direction: row;
    align-items: flex-end;
    
    
}
.img1{
    width: 736px;
    height: 491px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}
.middle_section_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middle_section{
    
    margin: 7%;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-width: 5px;
    border-color:#3882f6;

    
    
    
}

.title2 {
    font-size: 36px;
    font-weight: 900;
    color:rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;

}

.middleboxes {
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 10px;
    
    transition: 0.5s;
    cursor: pointer;
}



.middleboxes:hover {
    width: 250px;
    height: 250px;
    border-radius: 12px;
}
.boxcontainer{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    width: 100px;
    height: 100px;
    justify-content: space-evenly;
    border-radius: 8px;
    border-width: 5px;
    border-color:#3882f6;
    transition: 0.5s;

}
.boxcontainer:hover{
    width: 250px;
    height: 250px;
}
.boximage{
    border-radius: 8px;
    border-width: 2px;
    border-color:#3882f6;
}
.boxtext{
    color:#1f2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.quotesection {
    background-color: #E5E7Eb;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.quote {
    color: #1f2937;
    font-size: 36px;
    margin: 25px;
    font-weight:lighter;
    font-style:italic;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}
.bottomsection {
    margin: 50px;
    padding: 50px;
    border-radius: 8px;
    background-color:#3882f6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.call-to-action{
    color:#E5E7Eb;
    font-size: 28px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.button {
    background-color: #3882f6;
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    justify-content: center;
    text-align:center;
    color: #E5E7Eb;
    transition: 0.5s;
}
.button:hover{
    width: 150px;
    height: 50px;
}
.footer {
    background-color: #1f2937;
    color:#E5E7Eb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;

}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav-list{
    display: flex;
    gap: 1rem;
    justify-content: space-between;

}
.nav-list li {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-direction:column;
    flex-grow: 1;
    flex-shrink: 1;

}
.footer-bottom {
    display: flex;
    justify-content:flex-end;
    flex-direction:column;
    align-self: center;
    margin-top: 18px;
}
}